@page
@model Eigenmaaltijden.Pages.AccountSettingsModel
    <style>
        html {
            font-family: "Century Gothic";
        }

        .page {
            border: 1px solid #707070;
            border-radius: 15px;
            width: 70%;
        }

        #tab {
            text-align: center;
            font-weight: bold;
            border-bottom: 1px solid #707070;
        }

        #tab-account {
            background-color: #C1272D;
            border-top-right-radius: 15px;
            
            color: white;
            padding: 7px;
        }

        #tab-profile {
            background-color: white;
            border-top-left-radius: 15px;
            color: #C1272D;
            padding: 7px;
        }

        #settings {
            padding: 10px;
            padding-top: 27px;
        }

        .labels {
            color: #C1272D;
            font-size: 17px;
        }

        input[type=checkbox] {
            transform: scale(1.5);
        }
    </style>
    <div class="container page">
        <div id="tab" class="row">
            <div class="col-6" id="tab-profile"><a href="/ProfileSettings">Profiel</a></div>
            <div class="col-6" id="tab-account">Account</div>
        </div>
        <form asp-page="AccountSettings" asp-page-handler="AccountSettings" method="post">
            <div id="settings" class="row">
                <div class="col-6">
                    <label style="margin-top: 2%;"><b>Name</b></label>
                    <input type="text" class="form-control" value="@Model.db.GetLoggedInUser().Name" asp-for="@Model.Name" required autofocus>

                    <label style="margin-top: 2%;"><b>E-mail</b></label>
                    <input type="text" class="form-control" value="@Model.db.GetLoggedInUser().Email" asp-for="@Model.Email" required autofocus>

                    <label style="margin-top: 2%;"><b>Huidig Wachtwoord</b></label>
                    <input type="password" class="form-control" value="" placeholder='********' asp-for="@Model.CurrentPassword" />

                    <label style="margin-top: 2%;"><b>Nieuw Wachtwoord</b></label>
                    <input type="password" class="form-control" value="" placeholder='********' asp-for="@Model.NewPassword" />

                    <label style="margin-top: 2%;"><b>Bevestig Nieuw Wachtwoord</b></label>
                    <input type="password" class="form-control" value="" placeholder='********' asp-for="@Model.ConfirmNewPassword" />

                    <input type="submit" class="btn" style="bottom: 25px; position: absolute; color: white; background-color: #C1272D" value="Wijzigingen Opslaan" />
                    <p class="text-danger"><b>@Model.ErrorMessage</b></p>
                </div>
                <div class="col-6">
                    <label style="margin-top: 2%;"><b>Straatnaam</b></label>
                    <input type="text" class="form-control" value="@Model.db.GetLoggedInUser().Street" placeholder="Molenweg" asp-for="@Model.Street">

                    <label style="margin-top: 2%;"><b>Huisnummer</b></label>
                    <input type="number" class="form-control" placeholder="33" value="@Model.db.GetLoggedInUser().Number" asp-for="@Model.HouseNumber">

                    <label style="margin-top: 2%;"><b>Toevoeging</b></label>
                    <input type="text" class="form-control" placeholder="A" value="@Model.db.GetLoggedInUser().Addon" asp-for="@Model.Addon">

                    <label style="margin-top: 2%;"><b>Stad</b></label>
                    <input type="text" class="form-control" placeholder="Leeuwarden" value="@Model.db.GetLoggedInUser().City" asp-for="@Model.City">


                    <label style="margin-top: 2%;"><b>Land</b></label>
                    <input type="text" class="form-control" placeholder="Nederland" value="@Model.db.GetLoggedInUser().Country" asp-for="@Model.Country" required>

                    <label for="Postcode" style="margin-top: 5%;"><b>Postcode</b></label>
                    <input type="text" class="form-control" placeholder="1234AB" value="@Model.db.GetLoggedInUser().PostCode" asp-for="@Model.PostCode" required>

                    <br />
                </div>
                


            </div>
</form>

        

