@page
@model AddMeal
@{
    ViewData["Title"] = "Add A Meal";
}

<style>
    /* The heart of the matter */
    .testimonial-group > .row {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    .testimonial-group > .row > .col-4 {
        display: inline-block;
    }
    .header {
        border-bottom: 2px solid black;
    }
</style>

<div class="text-center">
    <h1 class="text-danger">Je EigenMaaltijden aanpassen?</h1>
    <div class="container testimonial-group mt-5">
        <div class="row text-center">
            @foreach (var meal in @Model.Previews){
                <a class="col-4" href=@meal.Url>
                    <span class="col-4">
                        <p class="font-weight-bold text-danger header">@meal.Name</p>
                        <img src="@meal.PhotoPath" alt="Image can't Be Loaded" width="50%" height=50%>
                    </span>
                </a>
            }
        </div>
    </div>
    <h1 class="text-danger mt-5">Creëer je EigenMaaltijd</h1>
    <form class="w-75 mx-auto mt-5" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label class="" for="name">Titel van de Maaltijd:</label>
            <input type="text" class="form-control" placeholder="naam" name="name" value="@Model.save.Name">
        </div>
        <div class="form-group">
            <label for="desc">Beschrijving over de Maaltijd:</label>
            <input type="text" class="form-control" placeholder="beschrijving" name="desc" value="@Model.save.Description">
            <small name="desc-limit" class="form-text text-muted">Limiet van 280 karakters.</small>
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
            </div>
            <div class="custom-file">
                <input type="file" id="fileupload" class="custom-file-input" aria-describedby="inputGroupFileAddon01" asp-for="uploadedImage">
                <label class="custom-file-label text-left" for="fileupload">Kies een afbeedling voor de Maaltijd...</label>
            </div>
            <small name="fileupload-desc" class="form-text text-muted">Bij het aanpassen van een maaltijd zal de laatst gekozen afbeelding blijven staan, tenzij er een andere afbeelding geselecteerd word.</small>
        </div>
        <div class="form-group">
            <label for="ingredients">Ingrediënten:</label>
            <div class="input-group">
                <input type="text" class="form-control w-75" placeholder="Ingrediënt..." name="ingredients">
                <button type="button" class="btn btn-danger">Voeg toe</button>
            </div>
            <small name="ingredients-desc" class="form-text text-muted">Voeg de ingrediënten één voor één toe.</small>
        </div>
        <div class="form-check">
            <input class="form-check-input" name="fresh" type="checkbox" checked="@Model.save.Frozen">
            <label class="form-check-label" for="fresh">Is het ingevroren?</label>
            <small name="fresh-desc" class="form-text text-muted">Tik op de box als de maaltijd is ingevroren.</small>
        </div>
        <div class="form-group mt-3">
            <label for="category">Categorie maaltijd:</label>
            <input name="category" type="text" class="form-control" list="options" value="@Model.save.Category">
            <datalist id="options">
                <option value=0>Veganistische Maaltijd</option>
                <option value=1>Vegetarische Maaltijd</option>
                <option value=2>Vlees Maaltijd</option>
            </datalist>
            <small name="desc-limit" class="form-text text-muted">Artikel over het <a href="https://ecowijs.nl/uitleg/verschil-tussen-vegetarisch-en-veganistisch-eten/">verschil</a> tussen veganisme en vegetarisch</small>
        </div>
        <div class="form-group mt-3">
            <label for="date">Datum maaltijd bereid:</label>
            <input type="date" name="date" class="form-control" value="@Model.save.Date">
        </div>
        <div class="form-group mt-4">
            <div class="form-group mt-2">
                <label for="amount">Hoeveelheid porties:</label>
                <input type="number" name="amount" value=@Model.save.Amount class="form-control">
            </div>
            <div class="form-group mt-2">
                <label for="weight">Gewicht per portie:</label>
                <input type="number" name="weight" class="form-control" value=@Model.save.Weight>
                <small name="weight-desc" class="form-text text-muted">Gewicht in gram.</small>
            </div>
            <div class="form-group mt-2">
                <label for="price">Prijs per portie:</label>
                <input type="number" name="price" class="form-control" value=@Model.save.Price>
            </div>
        </div>
        <small name="general-desc" class="form-text text-muted">Alle gegevens over een gerecht kan later worden aangepast. Hieronder kan je aangeven of de 
            maaltijd alleen bewaard moet worden, bewaard en verwacht wordt of ook gepubliceerd moet worden.</small>
        <div class="form-group mt-3">
            <input name="saveoptions" type="text" class="form-control" list="save" value=@Model.save.Availability>
            <datalist id="save">
                <option value=0>Bewaren</option>
                <option value=1>Bewaren en Verwacht</option>
                <option value=2>Bewaren en Publiceren</option>
            </datalist>
        </div>
        <button class="btn btn-danger" type="submit">Opslaan</button>
    </form>
</div>
