@page
@model Eigenmaaltijden.Pages.Profile

@{
    ViewData["Title"] = "Profile";
}
<style>
    html{
        font-family: 'Century Gothic';
    }
    ul {
        list-style-type: none;
        padding:0px;
    }

    .profileBox {
        background-color: white;
        border: #707070 1px solid;
        border-radius: 15px;
        margin: 2.5%;
        margin-top: 0%;
    }
    #pfp {
        border-radius: 50%;
        width: 50%;
        margin: 5%;
        margin-left: 25%;
        border: 1px #707070 solid;
    }

    .title {
        font-size: 30px;
        font-weight: 600;
        color: #C1272D;
        width: 100%;
    }

    .testimonial-group > .row {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .testimonial-group > .row > .col-4 {
        display: inline-block;
    }

    .header {
        border-bottom: 2px solid black;
    }
</style>

<div class="row mt-5">
    <div class="profileBox col-3" id="profile-container">
        <div id="person" style="width:100%">
            <img id="pfp" src="images/Placeholder.svg"/>
            <p class="title" id="username" style="text-align:center">@Model.Name</p>
        </div>
        <hr/>
        <div id="person-data">
            <ul>
                <li><p><img src="images/icons/place-24px.svg">  @Model.City</p></li>
                <li><p><img src="images/icons/mail-24px.svg">  @Model.Email</p></li>
            </ul>
        </div>
        <hr/>
        <div id="person-intro">
            <p class="title" style="font-size: 20px; text-align:center">Over mij</p>
            <p>
                @Model.Intro
            </p>
        </div>
    </div>
    <div id="gerechten-container" class="col-8">
        <p class="title">Mijn gerechten</p>
        <div class="testimonial-group mt-2 mb-3">
            <div class="row text-center">
                @{
                    foreach (var maal in Model.maaltijd)
                    {
                        <a class="col-4" href=@maal.Url>
                            <span class="col-4">
                                <p class="font-weight-bold text-danger header">@maal.Name</p>
                                <img src="@maal.Image" alt="Image can't Be Loaded" width="50%" height=50%>
                            </span>
                        </a>
                    }
                }
            </div>
        </div>
        <p class="title">Mijn verwachtte gerechten</p>
        <div class="testimonial-group mt-2">
            <div class="row text-center">
                @{
                    foreach (var maal in Model.verwachttemaaltijd)
                    {
                        <a class="col-4" href=@maal.Url>
                            <span class="col-4">
                                <p class="font-weight-bold text-danger header">@maal.Name</p>
                                <img src="@maal.Image" alt="Image can't Be Loaded" width="50%" height=50%>
                            </span>
                        </a>
                    }
                }
            </div>
        </div>
    </div>
</div>