@page
@model Eigenmaaltijden.Pages.SearchModel
@{
}
<form method="post" asp-page="Search" asp-page-handler="search">
    <input name="searchValue" type="text" class="form-control" placeholder="Boerenkool" required autofocus>
    <input type="submit" value="Zoek" />
</form>

<div class="list-group">
    @foreach (var Preview in Model.mealsSearchResult)
    {
        <a href="@Preview.Url" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="row">
                <div class="col-1">
                    <img src="@Preview.PhotoPath" alt="@Preview.Name" />
                </div>
                <div class="col-11">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@Preview.Name</h5>
                        <!--<l>~</!--ll>-->
                    </div>
                    <p class="mb-1">@Preview.Description</p>
                    <!--<small>.</small>-->
                </div>
            </div>
            
        </a>
        
    }
</div>